.text-field {
    height: 43px;
    width: 100%;
    border: 1px solid #d1d5db;
    border-radius: 5px;
}

.text-field > input {
    border: none;
    outline: none;
    height: 100%;
    width: 95%;
    vertical-align: middle;
    align-content: center;
    background-color: transparent;
    margin-left: 5px;

    font-size: medium;
    font-weight: bold;
    color: #838383;
}